<h2>Configuration</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-bordered table-striped">
            <tr>
                <th>Name</th>
                <td>{{ configuration.name }}</td>
            </tr>
            <tr>
                <th>Backups</th>
                <td>{{ configuration.backups }}</td>
            </tr>
            <tr>
                <th>Eviction Policy</th>
                <td>{{ configuration.evictionPolicy }}</td>
            </tr>
            <tr>
                <th>Eviction Synchronized</th>
                <td>{{ configuration.evictSynchronized }}</td>
            </tr>
            <tr>
                <th>Evict Filter</th>
                <td>{{ configuration.evictFilter }}</td>
            </tr>
            <tr>
                <th>Write Synchronization Mode</th>
                <td>{{ configuration.writeSynchronizationMode }}</td>
            </tr>
            <tr>
                <th>WriteBehind Enabled</th>
                <td>{{ configuration.writeBehindEnabled }}</td>
            </tr>
            <tr>
                <th>Swap Enabled</th>
                <td>{{ configuration.swapEnabled }}</td>
            </tr>
            <tr>
                <th>Rebalance Mode</th>
                <td>{{ configuration.rebalanceMode }}</td>
            </tr>
            <tr>
                <th>Read From Backup</th>
                <td>{{ configuration.readFromBackup }}</td>
            </tr>
            <tr>
                <th>OffHeap Max Memory</th>
                <td>{{ configuration.offHeapMaxMemory }}</td>
            </tr>
            <tr>
                <th>Store Keep Binary</th>
                <td>{{ configuration.storeKeepBinary }}</td>
            </tr>
            <tr>
                <th>Read Through</th>
                <td>{{ configuration.readThrough }}</td>
            </tr>
            <tr>
                <th>Write Through</th>
                <td>{{ configuration.writeThrough }}</td>
            </tr>

        </table>
    </div>
</div>

